@import "reset"

html, body
  height: 100%
  width: 100%

#root
  height: 100%
  width: 100%
  display: flex
  flex-flow: row

.pane
  height: 100%
  // width: auto
  flex-grow: 1

.main
  background-color: yellow
