@import "reset"

html, body
  height: 100%
  width: 100%

#root
  height: 100%
  width: 100%
  display: flex
  flex-flow: column
  align-items: center
  font-family: 'Roboto', sans-serif
  font-size: 1.2rem
  box-sizing: border-box
  padding: .5rem


.board-link
  margin: .3rem .6rem

.board-link-long
  margin: .3rem .6rem

.board-list
  display: flex
  flex-flow: wrap

.banner
  width: 100%

#home
  height: 60%
  display: flex
  flex-flow: column
